@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0%;
  margin: 0%;
}
.logo {padding-bottom: 0%;
padding-left: 1ch;
padding-right: 1ch;
padding-top: 0%;}
body{background-color: white;}

body
{ 
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.titulo {margin-top: 1ch;}

img{
   text-align: center;
    width: 50;
    max-height: 50%;
  }

.carrusel_inicio
{
  display: flex;
  justify-items: center;
  padding-top: 2ch;
}

.carrusel_sesiones {
  display: flex;
  justify-content: center;
  padding-top: 3ch;
  align-items: center;
  width: 60%;
  height: 50%;}
 
.frase {
  padding-top: 4ch;
  padding-bottom: 4ch;
}

footer {
  padding: 50px;
  background-color: whitesmoke;
}
.iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}
.flex_container {background-color: whitesmoke;
display: flex;
margin-top: 1%;
padding-left: 0;
flex-direction: row;
justify-content: center;
height: 70%;
width: 90%;
justify-items: center;
}
.imagen {
  padding: 2ch;
  width: 400px;
  height: 400px;
}
.texto_imagen {
  text-align: initial;
  text-align: justify;
  width: 200px;
  height: 200px;
}

body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color:white; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color:whitesmoke; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color:whitesmoke; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color:whitesmoke; 
  border-color:white; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color:#0e0e0e; 
}


span{
  color:wheat; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color:#0e0e0e;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.contenedor_sobremi {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3ch;
  padding-right: 2ch;
  min-height: 100vh;

}
.imagen
{
  width: fit-content;
  height: fit-content;
}

.texto_imagen
{
  text-align: center;
}

.grid_galeria
{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  justify-items: center;
  padding-right: 10ch;
  padding-top: 4ch;
  grid-column-gap: 0ch;
  grid-row-gap: 0ch;
  margin: 0ch;
}

@media (min-width:500px) {
  .grid_galeria{
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 
    "grid_galeria grid_galeria grid_galeria";
  }
  }
